* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(73, 70, 70);
  font-size: 14px;
}

li {
  list-style: none;
}

.header {
  height: 70px;
  border-top: #d22c26 solid 4px;
  border-bottom: solid 1px #e0e0e0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-1 {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  position: absolute;
  left: 5px;
}

.drop1 {
  margin-right: 25px;
  position: absolute;
  right: 80px;
  bottom: 5px;
}

.drop1::after {
  content: "|";
  float: right;
  color: #ccc;
}

.drop2 {
  position: absolute;
  margin-right: 25px;
  right: -30px;
  bottom: 4px;
}

.drop-icon {
  position: absolute;
  right: 0px;
  top: 15px;
}

.header-1 a {
  margin-right: 25px;
}

.menu-name {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 22px;
  margin-left: 25px;
  margin-right: 25px;
  font-weight: 600;
  height: 70px;
  cursor: pointer;
}

.menu-name span {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.menu-name:hover span {
  border-bottom: #d22c26 solid;
  height: 2px;
  transition: 0.1s;
}

/* header2 */
.header2 {
  width: 100%;
  border-bottom: solid 1px #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-main-btm {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
  height: 55px;
}

.search-main-btm input {
  border-bottom: #4d4d4d 1px solid;
  /* background-color: #4d4d4d; */
  height: 40px;
}

.search-main-btm-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btm-input-text {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 13pt;
}

.search-main-btm-btm {
  height: 70%;
  width: 80pt;
  color: #d22c26;
  border: solid 1px #d22c26;
  background-color: white;
  /* background-color: #4d4d4d; */
  /* color: white; */
  font-size: 14pt;
  border-radius: 5px;
}

.date-div {
  justify-content: left;
}

.date-text1,
.date-text2 {
  display: flex;
  width: 50%;
  font-size: 10pt;
}

.btm-a {
  position: relative;
  right: 5pt;
  width: 20pt;
  height: 20pt;
}

.btm-a1 {
  background-image: url(./t-way-img/ico_btn_pin.png);
  background-repeat: no-repeat;
}

.btm-a2 {
  background-image: url(./t-way-img/ico_btn_pin.png);
  background-repeat: no-repeat;
}

.btm-a3 {
  background-image: url(./t-way-img/ico_btn_date.png);
  background-repeat: no-repeat;
}

.btm-a4 {
  background-image: url(./t-way-img/ico_booking_passenger.png);
  background-repeat: no-repeat;
}

/* 드롭다운 */
/* .drop-menu {
  overflow: hidden;
  background-color: #333;
  background-color: #d22c26;
  width: 100%;
  margin-right: 20px;
}

/* Links inside the navbar */
.drop-menu a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: flex;
  justify-content: space-around;
  height: 0%;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: hidden;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  border: #e0e0e0 solid 1px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  height: 500px;
  width: 100%;
  overflow: hidden;
  transition: all 3s;
}

/* 내가만든드롭메뉴 */
.drop-menus {
  position: relative;
}

.drop-menu {
  display: flex;
  height: 0%;
  flex-wrap: wrap;
  justify-content: flex-start;
  top: -48px;
  left: 0;
  padding-top: 40px;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  overflow: hidden;
  position: absolute;
  z-index: -5;
}

.drop-menu div {
  margin-top: 30px;
  width: 18%;
  font-size: 17px;
  color: #1a1a1a;
  font-weight: 800;
  border-right: #e0e0e0 1px solid;
  margin-right: 50px;
  margin-bottom: 30px;
  font-size: 20px;
}

.drop-menu div li {
  font-size: 10pt;
  color: #4d4d4d;
  margin-top: 5px;
}

.opne-menu {
  display: flex;
  overflow: hidden;
  height: 600px;
  transition: 0.7s ease;
  z-index: 20;
}

.drop-sd {
  box-shadow: 5px 5px 5px grey;
  background-color: white;
}

body {
  padding: 0px;
  margin: 0px;

}

main {
  width: 100%;

  display: block;
  position: relative;

}



header,
nav,
div,
footer {
  height: auto;
  margin: 0px;
  font-size: 20pt;
  text-align: center;
}

header {
  width: 100%;
  top: 0px;
}

.head-line {
  border: 2px solid red;
  position: sticky;
}

nav {
  border: 1px solid black;
  background-color: white;
  height: 145px;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.Current-path {
  height: 50px;
  /* background-color: bisque; */
  font-size: 10pt;
}

.blank {
  height: 40px;
}

.ticket-information {
  height: 140px;
  /* border: 1px solid rgb(228, 54, 255) */
}

.ticket-information-div {
  font-size: 40px;
  margin-bottom: 0px;
  /* border: 1px solid rgb(91, 104, 255); */
  /* background-color: aliceblue; */
}

.Payment-Refund {
  height: 60px;

  /* border: 1px solid rgb(0, 146, 5); */
  display: flex;
  justify-content: center;
}

.Payment-Refund-inner-on {
  
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  /* ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ */
  width: 35%;
  height: 100%;
  font-size: 14pt;
  line-height: 60px;
  font-weight: lighter;
  border-top: 4px solid red;
  
}

.Payment-Refund-inner-off {
  background-color: #f3f3f3;
  border-bottom: 1px solid #ccc;
  /* ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ */
  width: 35%;

  height: 100%;
  font-size: 14pt;
  line-height: 60px;
  font-weight: lighter;
  border-top: 4px solid #f3f3f3;

 
}

main div {
  /* font-size: 16px; */
  color: #1a1a1a;
  text-align: center;
  font-weight: bold;

}

.content {
  position: relative;
  margin: auto;
  /* ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ */
  width: 70%;
  /* border: 1px solid rgb(255, 82, 82); */
}

.payment-method {
  height: 60px;
  /* border: 1px solid rgb(255, 68, 68); */
  text-align: start;
  margin-top: 65px;
  font-size: 30px;
}

.payment-title {
  line-height: 2;
  height: 60px;
  /* border: 1px solid black; */
  text-align: start;
  font-size: 15px;
  font-weight: lighter;
}

.table-max {
  width: 4000px;
  flex-direction: column;

}

.payment-info {
  padding: 40px;
  border: 1px solid #ccc;
  /* background-color: beige; */
}

.payment-info-box {
  /* flex-wrap: wrap; */
  display: flex;
  /* margin: 40px; */
  /* border: solid 1px rgb(223, 223, 223); */
  align-items: flex-start;
}

.payment-info-img {
  position: relative;
  /* background-color: hsl(283, 100%, 65%); */
  margin-left: 20px;
  margin-top: 20px;

}

.payment-info-img-circle {


  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #f3f3f3;
}

#circle-img {

  position: relative;
  top: 30px;
  align-content: center;
}

.payment-info-text-bold {
  font-size: 11pt;
  margin-left: 20px;
  padding-top: 10px;
  text-align: left;
  /* border: 1px solid darkcyan; */
  /* color: #cd4fff; */
}

.payment-info-text {
  /* position: relative; */
  font-size: 11pt;
  margin-left: 20px;
  margin-bottom: 10px;
  /* border: 1px solid darkcyan; */
  text-align: left;
  line-height: 1.8;
  padding-top: 8px;
  font-weight: lighter;
  word-spacing: 1px;
}

.table {
  margin-top: 10px;
  margin-bottom: 2%;
  margin-left: 20px;
  width: 100%;
  /* border: 1px solid rgb(238, 0, 255); */
  /* border-top: 2 px black solid;
    border-bottom: 1px black solid;
    border-top: 1px solid black; */
}

.table-inner {
  /* border: 5px solid orange; */
  display: flex;

  border-bottom: 1px solid #ccc;

}

.table-inner-title {
  position: relative;
  display: flex;
  padding-left: 30px;
  align-items: center;
  justify-content: start;
  width: 160px;
  background-color: #f5f5f5;
  /* border: 1px solid blue; */
}

.table-inner-text {
  padding: 10px;
  width: 77%;
  background-color: white;
  /* border-bottom: 1px solid gray; */
  line-height: 1.8;
  text-align: left;
  font-size: 11pt;
  font-weight: lighter;
  /* border: 1px solid red; */
  flex-wrap: wrap;
}

.table-2 {
  border-bottom: #e0e0e0 1px solid;
  border-top: #1a1a1a 1px solid;
  display: block;

}

.table-2-t {
  border-bottom: #e0e0e0 1px solid;
  background-color: #f5f5f5;
  height: 30px;
  font-size: 12pt;
  font-weight: lighter;
  padding-top: 10px;
}

.table-2-c {
  background-color: white;
  text-align: left;
  font-size: 12pt;
  font-weight: lighter;
  /* line-height: 1.6; */
  padding: 10px;
}

.button-elemental {
  display: inline-block;
  padding: 5px 10px;
  min-height: 30px;
  font-size: 14px;
  color: #4d4d4d;
  text-align: center;
  line-height: 1.4;
  background-color: #fff;
  border: 1px solid #b0b0b0;
  border-radius: 3px;
  box-sizing: border-box;
  font-weight: lighter;
}

footer {
  /* margin-top: 200px; */
  display: block;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  width: 100%;
  height: auto;
  /* background-color: beige; */
}

.reservation-center {
  /* padding: 18px 0px; */
  position: relative;
  margin: 0px auto;
  /* border: solid 1px red; */
  width: 1200px;
  /* height: 70px; */
  display: flex;
  justify-content: space-between;

}

.reservation-center-inner {
  margin-top: 10px;
  padding-top: 10px;
  font-weight: bold;
  width: 182px;
  height: 25px;
  font-size: 10pt;
  background-color: #EAEAEA;
  border-radius: 30px;
}

.links {
  margin-top: 0px;
  margin-right: 20px;
  position: relative;
  right: 0px;
  height: 70%;
  /* border: #d22c26 1px solid; */
}

.pl {
  height: 31px;
  width: 180px;
  border: 1px solid white;
  font-size: 10pt;
  line-height: 16px;
}


.footer-info-t {
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  width: 100%;
  height: 270px;

}

.footer-info {
  margin-top: 40px;
  margin-bottom: 40px;
  /* border: #1a1a1a 1px solid; */
  /* background-color: aliceblue; */
  width: 300px;
  /* flex-wrap: wrap; */
  /* display: block; */
}

.footer-info-box {
  position: relative;
  top: -20px;
  width: 100%;
  height: 100%;
  display: block;
  /* background-color: antiquewhite; */
}

.footer-info-bold {
  width: 100%;
  height: 20%;
  text-align: start;
  /* border: 1px green solid; */
  font-weight: bold;
  font-size: 14pt;
}

.footer-info-bold-inner {

  margin-top: 10px;
  font-size: 10pt;
  line-height: 2;
  width: 40%;
  height: 80%;
  /* background-color: aqua; */
  text-align: left;
  /* border: 1px rgb(255, 0, 200) solid; */
}

.footer-last-info {
  margin-left: 40px;
  line-height: 1.5;
  font-size: 10pt;
  text-align: start;
  width: 50%;
}

a {
  color: #313131;
  text-decoration: none;
  cursor: pointer;
}
/* 여기는 숏컷부분입니다 */
.Current-path {
  height: 50px;
  /* background-color: bisque; */
}

.Current-path-inner {

  margin: 0 auto;
  padding-top: 10px;
  width: 1200px;
  height: fit-content;
  /* background-color: rgb(129, 255, 140); */
}

.Current-path-inner-font {
  font-weight: lighter;
  font-size: 12pt;
  width: fit-content;
  height: fit-content;
  /* background-color: #ccc; */
}